<%- include("partials/head") %>
<%- include("partials/nav") %> 
    
    <hr>
    <h1><%= title %></h1>
    <hr>

    <main id="contenedor-get">

        <div id="productos-container">
            <ul id="productos-lista">
            <% productos.forEach(prod => { %>

            <li class="li-listados productos-listados">
                <img src=" <% prod.imagen %>" alt="Imagen <% prod.imagen %>" class="img-listados">
                <p>Id: <% prod.id %>/ Nombre: <% prod.nombre %>/ <strong>Precio: <% prod.precio %> </strong></p>
            </li>
            <!--
                <li class="li-listados productos-listados">
                <img src="" alt="" class="img-listados">
                <p>Id: / Nombre: / <strong>Precio: </strong></p>
                </li>
            -->
                <% }) %>
            </ul>
        </div>

    </main>

    <script src="/js/index.js"></script>

<%- include("partials/footer") %>