<%- include("partials/head") %>
<%- include("partials/nav") %> 
    
    <hr>
    <h1><%= title %></h1>
    <hr>

    <main id="contenedor-get">

        <div id="productos-container">
            <ul id="productos-lista">
            <!--
                <li class="li-listados productos-listados">
                <img src="" alt="" class="img-listados">
                <p>Id: / Nombre: / <strong>Precio: </strong></p>
                </li>
            -->
            </ul>
        </div>

    </main>

    <script src="/js/index.js"></script>

<%- include("partials/footer") %>