    <ul id="listado-nav">
        <li class="links-header"><a href="/dashboard"><span>Productos</span></a></li>
        <li class="links-header"><a href="/dashboard/buscar"><span>Buscar</span></a></li>
        <li class="links-header"><a href="/dashboard/crear"><span>Crear</span></a></li>
        <li class="links-header"><a href="/dashboard/actualizar"><span>Actualizar</span></a></li>
        <li class="links-header"><a href="/dashboard/delete"><span>Eliminar</span></a></li>
    </ul>
</header>
