<header>
    <ul id="listado-nav">
        <li class="links-header"><a href="/dashboard"><span>Inicio</span></a></li>
        <li class="links-header"><a href="get.html"><span>ID</span></a></li>
        <li class="links-header"><a href="post.html"><span>Crear</span></a></li>
        <li class="links-header"><a href="put.html"><span>Actualizar</span></a></li>
        <li class="links-header"><a href="delete.html"><span>Eliminar</span></a></li>
    </ul>
</header>