    <!-- Rutas DashBoard -->
    <ul class="listado-nav">
        <li class="links-header"><a href="/dashboard"><span>Productos</span></a></li>
        <li class="links-header"><a href="/dashboard/buscar"><span>Buscar</span></a></li>
        <li class="links-header"><a href="/dashboard/crear"><span>Crear</span></a></li>
        <li class="links-header"><a href="/dashboard/actualizar"><span>Actualizar</span></a></li>
        <li class="links-header"><a href="/dashboard/eliminar"><span>Eliminar</span></a></li>
    </ul>

    <!-- Rutas del API rest -->
    <ul class="listado-nav listado-api"> 
        <li class="links-header"><a href="/api/productos"><span>Api Reference Get</span></a></li>
        <li class="links-header"><a href="/api/productos/:id"><span>Api Reference Get:Id</span></a></li>
    </ul>
</header>
